{% extends 'layout.html' %}
{% block content %}
     <section>
          <div class="container">
               <div class="text-center">
                    <h1>About Us</h1>

                    <br>

                    <p class="lead">Your Trusted Car Dealer and Rental Service.</p>
               </div>
          </div>
     </section>

     <section class="section-background">
          <div class="container">
               <div class="row">
                    <div class="col-md-offset-1 col-md-4 col-xs-12 pull-right">
                         <img src="../static/images/about-1-720x720.jpg" class="img-responsive img-circle" alt="">
                    </div>

                    <div class="col-md-7 col-xs-12">
                         <div class="about-info">
                              <h2>Are you looking for quality yet affordable cars to buy?</h2>

                              <figure>
                                   <figcaption>
                                        <p>At Hirbate Motors, we understand the importance of finding a reliable and affordable car that meets your needs.
                                             As a trusted car dealer, we offer a wide range of high-quality vehicles for sale, from compact cars to luxury sedans to spacious SUVs, all at competitive prices.
                                             Our experienced sales team is dedicated to helping you find the perfect car that fits your budget and lifestyle.
                                             With our commitment to exceptional customer service, you can trust us to provide a seamless and satisfying car buying experience.</p>
                                   </figcaption>
                              </figure>
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <section>
          <div class="container">
               <div class="row">
                    <div class="col-md-4 col-xs-12">
                         <img src="../static/images/about-2-720x720.jpg" class="img-responsive img-circle" alt="">
                    </div>

                    <div class="col-md-offset-1 col-md-7 col-xs-12">
                         <div class="about-info">
                              <h2>We offer convenient and reliable car rental service!</h2>

                              <figure>
                                   <figcaption>
                                        <p>At Hirbate Motors, we also offer car rental services to cater to your short-term transportation needs.
                                             Whether you need a car for a day, a week, or a month, we have flexible rental options to suit your requirements.
                                             Our well-maintained rental fleet includes a variety of cars to choose from, ensuring that you can find the right vehicle for your travel needs.
                                             With our competitive rental rates and outstanding customer service, renting a car from us is hassle-free and convenient.</p>
                                   </figcaption>
                              </figure>
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <section class="section-background">
          <div class="container">
               <div class="row">
                    <div class="col-md-12 col-sm-12">
                         <div class="text-center">
                              <h2>Your Trusted Car Partner</h2>

                              <br>

                              <p class="lead">Hirbate Motors is more than just a car dealer - we are your trusted car partner.
                                   Whether you're looking to buy or rent a car, you can rely on us for quality yet affordable vehicles and exceptional customer service.
                                   Our team is committed to providing personalized assistance, guiding you through the car buying or rental process, and ensuring your satisfaction.
                                   Visit us today and experience the difference of working with a trusted car dealer and rental service.</p>
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <!-- FOOTER -->
     <footer id="footer">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Headquarter</h2>
                              </div>
                              <address>
                                   <p>First Avenue <br>Eastleigh, Nairobi</p>
                              </address>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Contact Info</h2>
                              </div>
                              <address>
                                   <p>+254 723 822 133</p>
                                   <p><a href="mailto:hirbatemotors@gmail.com">hirbatemotors@gmail.com</a></p>
                              </address>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <div class="footer-info newsletter-form">
                              <div class="copyright-text">
                                   <p>Copyright &copy; 2023 Hirbate Motors</p>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </footer>
{% endblock content %}