{% extends 'layout.html' %}
{% block content %}
    <div class="container mt-2">
        <legend>Account Info</legend>
        <div class="row">
            <div class="col-md-2">
                <img class="rounded-circle" src="{{ image_file }}">
            </div>
            <div class="col-md-2">
                <p><strong>Username</strong>: {{ current_user.username }}</p>
                <p><strong>Email</strong>: {{ current_user.email }}</p>
            </div>
        </div>
    </div>

    <div class="container form-group mt-4 mb-4">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group" style="margin-top: 1rem;">
                <legend class="border-bottom mb-4 mt-4">Update your info</legend>
                <div class="row" id="loginForm">
                    <div class="form-group">
                        <div class="col-md-12">
                            {{ form.email.label (class="form-control-label")}}
                            {% if form.email.errors %}
                                {{ form.email (class="form-control form-control-lg is-invalid")}}
                                <ul class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {{ form.email (class="form-control form-control-lg")}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            {{ form.username.label (class="form-control-label")}}
                            {% if form.username.errors %}
                                {{ form.username (class="form-control form-control-lg is-invalid")}}
                                <ul class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {{ form.username (class="form-control form-control-lg")}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            {{ form.picture.label (class="form-control-label")}}
                            {% if form.picture.errors %}
                                {{ form.picture (class="form-control form-control-lg is-invalid")}}
                                <ul class="invalid-feedback">
                                    {% for error in form.picture.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {{ form.picture (class="form-control form-control-lg")}}
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <div class="col-md-12">
                            {{ form.submit (class="btn btn-outline-info", style="background-color: #008CBA; color: white;")}}
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <!-- Users and cars list -->
    <div class="row">
        <div class="col-md-6">
            <div class="container">
                <h2>Users List</h2>
            </div>
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Username</th>
                  <th scope="col">Email</th>
                  <th scope="col">Role</th>
                  <th scope="col">More</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>

              </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div class="container">
                <h2>Cars List</h2>
            </div>
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Brand</th>
                  <th scope="col">Model</th>
                  <th scope="col">Price</th>
                  <th scope="col">More</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>

              </tbody>
            </table>
        </div>
    </div>
{% endblock %}