{% extends 'layout.html' %}
{% block content %}
    <div class="row">
        <div class="container">
            <div class="col-lg-6 col-md-4 col-sm-6">
                <div class="courses-thumb courses-thumb-secondary">
                     <div class="courses-top">
                          <div class="courses-image">
                               <img src="{{ url_for('static', filename='car_photos/' + car_for_sale.photo) }}" class="img-responsive" alt="{{ car_for_sale.make }}">
                          </div>
                          <div class="courses-date">
                               <span title="Author"><i class="fa fa-dashboard"></i> {{ car_for_sale.mileage }}</span>
                               <span title="Author"><i class="fa fa-cube"></i> {{ car_for_sale.engine_size}}cc</span>
                               <span title="Views"><i class="fa fa-cog"></i> Manual</span>
                          </div>
                     </div>

                     <div class="courses-detail">
                          <h3><a href="#">{{ car_for_sale.description }}</a></h3>
                          <h4><a href="#">{{ car_for_sale.owner }}</a></h4>
                          <p class="lead"><strong>${{ car_for_sale.price }}</strong></p>

                          <p>190 hp &nbsp;&nbsp;/&nbsp;&nbsp; {{ car_for_sale.fuel }} &nbsp;&nbsp;/&nbsp;&nbsp;
                               {{ car_for_sale.mfg_year }} &nbsp;&nbsp;/&nbsp;&nbsp; {{ car_for_sale.condition }}</p>
                     </div>

                     <div class="courses-info">
                          <a href="{{ url_for ('approve_car', car_id=car_for_sale.id) }}" class="section-btn btn btn-primary btn-block">Confirm</a>
                     </div>
                </div>
           </div>
    </div>
    </div>
{% endblock content %}