{% extends 'layout.html' %}
{% block content %}
     <section>
          <div class="container" style="margin-top: 10px">
               <div class="row">
                    <div class="col-md-6 col-xs-12">
                         {% if main_photos %}
                              <div>
                                   <img src="{{ url_for('static', filename='car_photos/' + main_photos.photos) }}" alt="" class="img-responsive wc-image">
                              </div>

                              <br>

                              <div class="row">
                                   {% for photo in extra_photos %}
                                   <div class="col-md-6 col-xs-12">
                                        <div>
                                             <img src="{{ url_for('static', filename='car_photos/' + photo.photos) }}" alt="" class="img-responsive">
                                        </div>

                                        <br>
                                   </div>

                                   {% endfor %}
                              </div>
                         {% else %}
                              <div>
                                   <img src="{{ url_for('static', filename='car_photos/' + 'default.jpeg') }}" alt="" class="img-responsive wc-image">
                              </div>
                         {% endif %}
                    </div>

                    <div class="col-md-6 col-xs-12">
                         <form action="#" method="post" class="form">
                              <h2>Extended details for this car</h2>

                              <p class="lead">{{ car_for_sale.description }}</p>
                              
                              <p class="lead"><strong class="text-primary">Price: Ksh {{ "{:,.0f}".format(car_for_sale.price ) }}</strong></p>

                              <div class="row">
                                   <div class="col-md-4 col-sm-6">
                                        <p>
                                             <span>Type</span>

                                             <br>

                                             <strong>{{ car_for_sale.condition }} Vehicle</strong>
                                        </p>
                                   </div>

                                   <div class="col-md-4 col-sm-6">
                                        <p>
                                             <span>Brand</span>

                                             <br>

                                             <strong>{{ car_for_sale.make }}</strong>
                                        </p>
                                   </div>

                                   <div class="col-md-4 col-sm-6">
                                        <p>
                                             <span> Model</span>

                                             <br>

                                             <strong>{{ car_for_sale.model }}</strong>
                                        </p>
                                   </div>

                                   <div class="col-md-4 col-sm-6">
                                        <p>
                                             <span>Mileage</span>

                                             <br>

                                             <strong>{{ "{:,.0f}".format(car_for_sale.mileage ) }}</strong>
                                        </p>
                                   </div>

                                   <div class="col-md-4 col-sm-6">
                                        <p>
                                             <span>Fuel</span>

                                             <br>

                                             <strong>{{ car_for_sale.fuel }}</strong>
                                        </p>
                                   </div>

                                   <div class="col-md-4 col-sm-6">
                                        <p>
                                             <span>Engine size</span>

                                             <br>

                                             <strong>{{ "{:,.0f}".format(car_for_sale.engine_size ) }} cc</strong>
                                        </p>
                                   </div>

                                   <div class="col-md-4 col-sm-6">
                                        <p>
                                             <span>Gearbox</span>

                                             <br>

                                             <strong>{{ car_for_sale.gearbox }}</strong>
                                        </p>
                                   </div>

                                   <div class="col-md-4 col-sm-6">
                                        <p>
                                             <span>Number of seats</span>

                                             <br>

                                             <strong>{{ car_for_sale.seats }}</strong>
                                        </p>
                                   </div>
                                   <div class="col-md-4 col-sm-6">
                                        <p>
                                             <span>Manufacture Year</span>

                                             <br>

                                             <strong>{{ car_for_sale.mfg_year }}</strong>
                                        </p>
                                   </div>
                                   <div class="col-md-4 col-sm-6">
                                        <p>
                                             <span>Color</span>

                                             <br>

                                             <strong>{{ car_for_sale.color }}</strong>
                                        </p>
                                   </div>
                              </div>
                         </form>
                    </div>
               </div>

               <div class="row mt-4">
                    <div class="col-md-12">
                         <div class="container text-center">
                              <div class="panel panel-default">
                                   <div class="panel-heading">
                                        <h4>Contact Details</h4>
                                   </div>

                                   <div class="panel-body">
                                        <p>
                                             <span>Name</span>

                                             <br>

                                             <strong>{{user.username}}</strong>
                                        </p>


                                        <p>
                                             <span>Mobile phone</span>

                                             <br>

                                             <strong><a href="tel:456789123">+254 723 822 133</a></strong>
                                        </p>

                                        <p>
                                             <span>Email</span>

                                             <br>

                                             <strong>{{ user.email }}</a></strong>
                                        </p>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>

{% endblock content %}