{% extends 'layout.html'  %}
{% block content %}
     <section>
          <div class="container">
               <div class="text-center">
                    <h1>Car Listing</h1>

                    <br>

                    <p class="lead">We have quality and affordable cars for you. Pick your choice here.</p>
               </div>
          </div>
          <div class="container">
               <div class="form-outline" style="margin-bottom: 40px;">
                 <input type="search" id="searchBox" class="form-control" placeholder="Search cars by Brand, Model, etc" aria-label="Search" />
               </div>
          </div>
     </section>

     <section class="section-background">
          <div class="container">

               <div class="row">
                    <div class="col-lg-3 col-xs-12">
                         <div class="form">
                              <form action="#" method="POST">
                                   <div class="form-group">
                                        <label>Used/New vehicle:</label>

                                        <select class="form-control" id="carCondition">
                                             <option value="">All</option>
                                             {% for condition in conditions_list%}
                                                  <option value="{{ condition }}">{{ condition }}</option>
                                             {% endfor %}
                                        </select>
                                   </div>

                                   <div class="form-group">
                                        <label>Brand:</label>
                                        
                                        <select class="form-control" id="carMake">
                                             <option value="">-- All --</option>
                                             {% for make in make_list %}
                                                  <option value="{{ make }}">{{make}}</option>
                                             {% endfor %}
                                        </select>
                                   </div>

                                   <div class="form-group">
                                        <label>Model:</label>
                                        
                                        <select class="form-control" id="carModel">
                                             <option value="">-- All --</option>
                                             {% for model in model_list %}
                                                  <option value="{{ model }}">{{ model }}</option>
                                             {% endfor %}
                                        </select>
                                   </div>

                                   <div class="form-group">
                                        <label>Price:</label>
                                        
                                        <select class="form-control" id="carPrice">
                                             <option value="">-- All --</option>
                                             <option value="0,999999">Below 1M</option>
                                             <option value="1000000,1499999">1M - 1.5M</option>
                                             <option value="1500000,2499999">1.5M - 2.5M</option>
                                             <option value="2500000,3499999">2.5M - 3.5M</option>
                                             <option value="3500000,20000000">Above 3.5M</option>
                                        </select>
                                   </div>

                                   <div class="form-group">
                                        <label>Mileage:</label>
                                        
                                        <select class="form-control" id="carMileage">
                                             <option value="">-- All --</option>
                                             <option value="0,19999">Below 20k</option>
                                             <option value="20000, 49999">20k - 50k</option>
                                             <option value=50000,99999>50k - 100k</option>
                                             <option value="100000,199999">100k - 200k</option>
                                             <option value="200000, 500000">Above 200k</option>
                                        </select>
                                   </div>

                                   <div class="form-group">
                                        <label>Engine size:</label>
                                        
                                        <select class="form-control" id="carEngineSize">
                                             <option value="">-- All --</option>
                                             <option value="0, 999">Below 1,000 CC</option>
                                             <option value="1000, 1999">1,000 - 2,000 CC</option>
                                             <option value="2000,2999">2,000 - 3,000 CC</option>
                                             <option value="3000, 9000">Above 3,000 CC</option>
                                        </select>
                                   </div>

                                   <div class="form-group">
                                        <label>Fuel:</label>
                                        
                                        <select class="form-control" id="carFuel">
                                             <option value="">-- All --</option>
                                             {% for fuel in fuel_list %}
                                                  <option value="{{fuel }}">{{ fuel }}</option>
                                             {% endfor %}
                                        </select>
                                   </div>

                                   <div class="form-group">
                                        <label>Number of seats:</label>
                                        
                                        <select class="form-control" id="carSeats">
                                             <option value="">-- All --</option>
                                             {% for seat in seats_list %}
                                                  <option value="{{ seat }}">{{ seat }}</option>
                                             {% endfor %}
                                        </select>
                                   </div>

<!--                                   <button type="submit" class="section-btn btn btn-primary btn-block" onclick="myfunc()">Search</button>-->
                              </form>
                         </div>
                    </div>

                    <div class="col-lg-9 col-xs-12">
                         <div class="row" id="cars_results">
                              {% for car in cars %}
                                   {% if car.is_approved %}
                                        <div class="col-lg-6 col-md-4 col-sm-6">
                                             <div class="courses-thumb courses-thumb-secondary">
                                                  <div class="courses-top">
                                                       <div class="courses-image" style="height: 500px;overflow: hidden;">
                                                            <img src="{{ url_for('static', filename='car_photos/' + cars_photos[car.id]) }}" class="img-responsive"
                                                                 alt="{{ car.make }}" style="height: 100%;width: auto;display: block;">
                                                       </div>
                                                       <div class="courses-date">
                                                            <span title="Author"><i class="fa fa-dashboard"></i> {{ "{:,.0f}".format(car.mileage) }}</span>
                                                            <span title="Author"><i class="fa fa-cube"></i> {{ "{:,.0f}".format(car.engine_size) }} CC</span>
                                                            <span title="Views"><i class="fa fa-cog"></i> {{ car.gearbox }}</span>
                                                       </div>
                                                  </div>

                                                  <div class="courses-detail">
                                                       <h3><a href="#">{{ car.description }}</a></h3>

                                                       <p class="lead"><strong>Ksh {{ "{:,.0f}".format(car.price) }}</strong>&nbsp;&nbsp;/&nbsp;&nbsp; {{ car.location }}</p>

                                                       <p>{{ car.make }} &nbsp;&nbsp;/&nbsp;&nbsp; {{ car.model }} &nbsp;&nbsp;/&nbsp;&nbsp; {{ car.fuel }} &nbsp;&nbsp;/&nbsp;&nbsp;
                                                            {{ car.mfg_year }} &nbsp;&nbsp;/&nbsp;&nbsp; {{ car.condition }}</p>
                                                  </div>

                                                  <div class="courses-info">
                                                       <a href="{{ url_for('car_for_sale_details', car_id=car.id) }}" class="section-btn btn btn-primary btn-block">View More</a>
                                                  </div>
                                             </div>
                                        </div>
                                   {% endif %}
                              {% endfor %}
                         </div>
                    </div>
               </div>
          </div>
     </section>

{% endblock content %}