{% extends 'layout.html' %}
{% block content %}
     <section>
          <div class="container">
               <div class="text-center">
                    <h1>Contact Us</h1>

                    <br>

                    <p class="lead">Contact Hirbate Motors for any question you may have.</p>
               </div>
          </div>
     </section>


     <!-- CONTACT -->
     <section id="contact">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <form id="contact-form" role="form" action="" method="POST">
                              <div class="col-md-12 col-sm-12">

                                   <input type="email" class="form-control" placeholder="Enter email address" name="email" id="email" required>

                                   <input type="tel" class="form-control" placeholder="Phone number" name="phone" id="phone" required>

                                   <textarea class="form-control" rows="6" placeholder="Write your message here" name="message" id="message" required></textarea>
                              </div>

                              <div class="col-md-4 col-sm-12">
                                   <input type="submit" class="form-control" name="send message" value="Send Message" onclick="sendEmail()">
                              </div>

                         </form>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="contact-image">
                              <img src="../static/images/contact-1-600x400.jpg" class="img-responsive" alt="">
                         </div>
                    </div>

               </div>
          </div>
     </section>       


     <!-- FOOTER -->
     <footer id="footer">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Headquarter</h2>
                              </div>
                              <address>
                                   <p>212 Barrington Court <br>New York, ABC 10001</p>
                              </address>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Contact Info</h2>
                              </div>
                              <address>
                                   <p>+1 333 4040 5566</p>
                                   <p><a href="mailto:contact@company.com">contact@company.com</a></p>
                              </address>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <div class="footer-info newsletter-form">
                              <div class="copyright-text">
                                   <p>Copyright &copy; 2020 Hirbate Motors</p>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </footer>

{% endblock content %}
