{% extends 'layout.html'  %}
{% block content %}
     <section>
          <div class="container">
               <div class="text-center">
                    <h1>Cars for Hire</h1>

                    <br>

                    <p class="lead">Get a comfortable car for an affordable daily rate.</p>
               </div>
          </div>
          <div class="container">
               <div class="form-outline" style="margin-bottom: 40px;">
                 <input type="search" id="searchBox" class="form-control" placeholder="Search cars by Brand, Model, etc" aria-label="Search" />
               </div>
          </div>
     </section>

     <section class="section-background">
          <div class="container">

               <div class="row">
                    <div class="col-lg-3 col-xs-12">
                         <div class="form">
                              <form action="#" method="POST">

                                   <div class="form-group">
                                        <label>Brand:</label>

                                        <select class="form-control" id="carMake">
                                             <option value="">-- All --</option>
                                             {% for brand in brand_list %}
                                                  <option value="{{ brand }}">{{brand}}</option>
                                             {% endfor %}
                                        </select>
                                   </div>

                                   <div class="form-group">
                                        <label>Model:</label>

                                        <select class="form-control" id="carModel">
                                             <option value="">-- All --</option>
                                             {% for model in model_list %}
                                                  <option value="{{ model }}">{{ model }}</option>
                                             {% endfor %}
                                        </select>
                                   </div>

                                   <div class="form-group">
                                        <label>Daily Rate:</label>

                                        <select class="form-control">
                                             <option value="">-- All --</option>
                                             <option value="">option 1</option>
                                             <option value="">option 2</option>
                                             <option value="">option 3</option>
                                             <option value="">option 4</option>
                                        </select>
                                   </div>

                                   <div class="form-group">
                                        <label>Fuel:</label>

                                        <select class="form-control" id="carFuel">
                                             <option value="">-- All --</option>
                                             {% for fuel in fuel_list %}
                                                  <option value="{{fuel }}">{{ fuel }}</option>
                                             {% endfor %}
                                        </select>
                                   </div>

                                   <div class="form-group">
                                        <label>Number of seats:</label>

                                        <select class="form-control">
                                             <option value="">-- All --</option>
                                             <option value="">option 1</option>
                                             <option value="">option 2</option>
                                             <option value="">option 3</option>
                                             <option value="">option 4</option>
                                        </select>
                                   </div>

                                   <button type="submit" class="section-btn btn btn-primary btn-block" onclick="myfunc()">Search</button>
                              </form>
                         </div>
                    </div>

                    <div class="col-lg-9 col-xs-12">
                         <div class="row" id="cars_results">
                              {% for car in cars %}
                                   {% if car.is_approved %}
                                        <div class="col-lg-6 col-md-4 col-sm-6">
                                             <div class="courses-thumb courses-thumb-secondary">
                                                  <div class="courses-top">
                                                       <div class="courses-image">
                                                            <img src="{{ url_for('static', filename='car_photos/' + car.photo) }}" class="img-responsive" alt="{{ car.make }}">
                                                       </div>
                                                       <div class="courses-date">
                                                            <span title="Author"><i class="fa fa-dashboard"></i> {{ car.brand }}</span>
     <!--                                                       <span title="Author"><i class="fa fa-cube"></i> {{ car.engine_size}}cc</span>-->
                                                            <span title="Views"><i class="fa fa-cog"></i> Manual</span>
                                                       </div>
                                                  </div>

                                                  <div class="courses-detail">
                                                       <h3><a href="#">{{ car.description }}</a></h3>

                                                       <p class="lead"><strong>${{ car.daily_rate }}</strong></p>

                                                       <p>{{ car.fuel }} </p>
                                                  </div>

                                                  <div class="courses-info">
                                                       <a href="#" class="section-btn btn btn-primary btn-block">View More</a>
                                                  </div>
                                             </div>
                                        </div>
                                   {% endif %}
                              {% endfor %}
                              <div class="col-lg-6 col-md-4 col-sm-6">
                                   <div class="courses-thumb courses-thumb-secondary">
                                        <div class="courses-top">
                                             <div class="courses-image">
                                                  <img src="../static/images/product-2-720x480.jpg" class="img-responsive" alt="">
                                             </div>
                                             <div class="courses-date">
                                                  <span title="Author"><i class="fa fa-dashboard"></i> 130 000km</span>
                                                  <span title="Author"><i class="fa fa-cube"></i> 1800cc</span>
                                                  <span title="Views"><i class="fa fa-cog"></i> Manual</span>
                                             </div>
                                        </div>

                                        <div class="courses-detail">
                                             <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>

                                             <p class="lead"><small><del> $11199.00</del></small> <strong>$11179.00</strong></p>

                                             <p>190 hp &nbsp;&nbsp;/&nbsp;&nbsp; Petrol &nbsp;&nbsp;/&nbsp;&nbsp; 2008 &nbsp;&nbsp;/&nbsp;&nbsp; New vehicle</p>
                                        </div>

                                        <div class="courses-info">
                                             <a href="#" class="section-btn btn btn-primary btn-block">View More</a>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-lg-6 col-md-4 col-sm-6">
                                   <div class="courses-thumb courses-thumb-secondary">
                                        <div class="courses-top">
                                             <div class="courses-image">
                                                  <img src="../static/images/product-3-720x480.jpg" class="img-responsive" alt="">
                                             </div>
                                             <div class="courses-date">
                                                  <span title="Author"><i class="fa fa-dashboard"></i> 130 000km</span>
                                                  <span title="Author"><i class="fa fa-cube"></i> 1800cc</span>
                                                  <span title="Views"><i class="fa fa-cog"></i> Manual</span>
                                             </div>
                                        </div>

                                        <div class="courses-detail">
                                             <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>

                                             <p class="lead"><small><del> $11199.00</del></small> <strong>$11179.00</strong></p>

                                             <p>190 hp &nbsp;&nbsp;/&nbsp;&nbsp; Petrol &nbsp;&nbsp;/&nbsp;&nbsp; 2008 &nbsp;&nbsp;/&nbsp;&nbsp; Used vehicle</p>
                                        </div>

                                        <div class="courses-info">
                                             <a href="#" class="section-btn btn btn-primary btn-block">View More</a>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-lg-6 col-md-4 col-sm-6">
                                   <div class="courses-thumb courses-thumb-secondary">
                                        <div class="courses-top">
                                             <div class="courses-image">
                                                  <img src="../static/images/product-4-720x480.jpg" class="img-responsive" alt="">
                                             </div>
                                             <div class="courses-date">
                                                  <span title="Author"><i class="fa fa-dashboard"></i> 130 000km</span>
                                                  <span title="Author"><i class="fa fa-cube"></i> 1800cc</span>
                                                  <span title="Views"><i class="fa fa-cog"></i> Manual</span>
                                             </div>
                                        </div>

                                        <div class="courses-detail">
                                             <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>

                                             <p class="lead"><small><del> $11199.00</del></small> <strong>$11179.00</strong></p>

                                             <p>190 hp &nbsp;&nbsp;/&nbsp;&nbsp; Petrol &nbsp;&nbsp;/&nbsp;&nbsp; 2008 &nbsp;&nbsp;/&nbsp;&nbsp; Used vehicle</p>
                                        </div>

                                        <div class="courses-info">
                                             <a href="#" class="section-btn btn btn-primary btn-block">View More</a>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>

{% endblock content %}