{% extends 'layout.html'  %}
{% block content %}
     <section>
          <div class="container">
               <div class="text-center">
                    <h1>Cars for Hire</h1>

                    <br>

                    <p class="lead">Get a comfortable car for an affordable daily rate.</p>
               </div>
          </div>
     </section>

     <section class="section-background">
          <div class="container">

               <div class="row">
                    <div class="col-lg-3 col-xs-12">
                         <div class="form">
                              <form action="#" method="POST">

                                   <div class="form-group">
                                        <label>Brand:</label>

                                        <select class="form-control" id="carBrand">
                                             <option value="">-- All --</option>
                                             {% for brand in brand_list %}
                                                  <option value="{{ brand }}">{{brand}}</option>
                                             {% endfor %}
                                        </select>
                                   </div>

                                   <div class="form-group">
                                        <label>Model:</label>

                                        <select class="form-control" id="carHireModel">
                                             <option value="">-- All --</option>
                                             {% for model in model_list %}
                                                  <option value="{{ model }}">{{ model }}</option>
                                             {% endfor %}
                                        </select>
                                   </div>

                                   <div class="form-group">
                                        <label>Daily Rate:</label>

                                        <select class="form-control" id="carRate">
                                             <option value="">-- All --</option>
                                             <option value="2000,499">2k- 5k</option>
                                             <option value="5000,9999">5k - 10k</option>
                                             <option value="10000,14999">10k -15k</option>
                                             <option value="15000,50000">Above 15k</option>
                                        </select>
                                   </div>

                                   <div class="form-group">
                                        <label>Fuel:</label>

                                        <select class="form-control" id="carHireFuel">
                                             <option value="">-- All --</option>
                                             {% for fuel in fuel_list %}
                                                  <option value="{{fuel }}">{{ fuel }}</option>
                                             {% endfor %}
                                        </select>
                                   </div>

                                   <div class="form-group">
                                        <label>Number of seats:</label>

                                        <select class="form-control" id="carHireSeats">
                                             <option value="">-- All --</option>
                                             {% for seat in seats_list %}
                                                  <option value="{{ seat }}">{{ seat }}</option>
                                             {% endfor %}
                                        </select>
                                   </div>
                              </form>
                         </div>
                    </div>

                    <div class="col-lg-9 col-xs-12">
                         <div class="row" id="cars_hire_results">
                              {% for car in cars %}
                                   {% if car.is_approved %}
                                        <div class="col-lg-6 col-md-4 col-sm-6">
                                             <div class="courses-thumb courses-thumb-secondary">
                                                  <div class="courses-top">
                                                       <div class="courses-image" style="height: 320px;overflow: hidden;">
                                                            <img src="{{ url_for('static', filename='car_photos/' + cars_photos[car.id]) }}" class="img-responsive"
                                                                 alt="{{ car.make }}" style="height: 100%;width: auto;display: block;">
                                                       </div>
                                                       <div class="courses-date">
                                                            <span title="Author"><i class="fa fa-dashboard"></i> {{ car.brand }}</span>
     <!--                                                       <span title="Author"><i class="fa fa-cube"></i> {{ car.engine_size}}cc</span>-->
                                                            <span title="Views"><i class="fa fa-cog"></i> {{ car.gearbox }}</span>
                                                       </div>
                                                  </div>

                                                  <div class="courses-detail">
                                                       <h3><a href="#">{{ car.description }}</a></h3>

                                                       <p class="lead"><strong>Ksh {{ "{:,.0f}".format(car.daily_rate) }}</strong></p>

                                                       <p>{{ car.fuel }} &nbsp;&nbsp;/&nbsp;&nbsp; {{ car.location }}</p>
                                                  </div>

                                                  <div class="courses-info">
                                                       <a href="{{ url_for('car_for_hire_details', car_id=car.id) }}" class="section-btn btn btn-primary btn-block">View More</a>
                                                  </div>
                                             </div>
                                        </div>
                                   {% endif %}
                              {% endfor %}
                         </div>
                    </div>
               </div>
          </div>
     </section>

{% endblock content %}