{% extends 'layout.html' %}
{% block content %}
    <div class="container form-group mt-4 mb-4">
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group" style="margin-top: 3rem;">
                <legend class="border-bottom">Upload photos of your car below.</legend>
                <div class="row" id="carUploadForm">
                    <div class="form-group">
                        <div class="col-md-4 mt-12">
                            {{ form.car_photos.label }}
                            {% if form.car_photos.errors %}
                                {{ form.car_photos (class="form-control-file")}}
                                {% for error in form.car_photos.errors %}
                                    <div class="text-danger">
                                        {{ error}}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.car_photos (class="form-control-file")}}
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <div class="col-md-12">
                            {{ form.submit (class="btn btn-outline-info", style="background-color: #008CBA; color: white; margin-top: 1rem;")}}
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

{% endblock %}