{% extends 'layout.html' %}
{% block content %}
     <!-- HOME -->
     <section id="home">
          <div class="row">
               <div class="owl-carousel owl-theme home-slider">
                    <div class="item item-first">
                         <div class="caption">
                              <div class="container">
                                   <div class="col-md-6 col-sm-12" style="filter: contrast(150%);">
                                        <h1>Welcome to Hirbate Motors.</h1>
                                        <h3>Your home for quality and affordable cars.</h3>
                                        <a href="{{ url_for('buy_car') }}" class="section-btn btn btn-default">Browse Cars</a>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="item item-second">
                         <div class="caption">
                              <div class="container">
                                   <div class="col-md-6 col-sm-12">
                                        <h1>You need a comfortable car for hire?.</h1>
                                        <h3>We have got your back.</h3>
                                        <a href="{{ url_for ('hire_car') }}" class="section-btn btn btn-default">Browse Cars</a>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="item item-third">
                         <div class="caption">
                              <div class="container">
                                   <div class="col-md-6 col-sm-12">
                                        <h1>Got a car to sale?</h1>
                                        <h3>Simply upload your car details of your car.</h3>
                                        <a href="cars.html" class="section-btn btn btn-default">Sell your car</a>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <main>
          <section>
               <div class="container">
                    <div class="row">
                         <div class="col-md-12 col-sm-12">
                              <div class="section-title text-center">
                                   <h2>Featured Cars <small>Find your dream car here.</small></h2>
                              </div>
                         </div>
                         {% for car in cars %}
                              {% if car.is_approved %}
                                   <div class="col-md-4 col-sm-4">
                                        <div class="courses-thumb courses-thumb-secondary">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="{{ url_for('static', filename='car_photos/' + car.photo) }}" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span title="Author"><i class="fa fa-dashboard"></i> {{ car.mileage }}</span>
                                                       <span title="Author"><i class="fa fa-cube"></i> {{ car.engine_size}}cc</span>
                                                       <span title="Views"><i class="fa fa-cog"></i> Manual</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="car-details.html">{{ car.description }}</a></h3>

                                                  <p class="lead"><strong>Ksh {{ car.price }}</strong></p>

                                                  <p>{{ car.fuel }} &nbsp;&nbsp;/&nbsp;&nbsp; {{ car.mfg_year }} &nbsp;&nbsp;/&nbsp;&nbsp; {{ car.condition }} Vehicle</p>
                                             </div>

                                             <div class="courses-info">
                                                  <a href="car-details.html" class="section-btn btn btn-primary btn-block">View More</a>
                                             </div>
                                        </div>
                                   </div>
                              {% endif %}
                         {% endfor %}

                    </div>
               </div>
          </section>
     </main>

     <!-- FOOTER -->
     <footer id="footer">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Headquarter</h2>
                              </div>
                              <address>
                                   <p>212 Barrington Court <br>New York, ABC 10001</p>
                              </address>

                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Contact Info</h2>
                              </div>
                              <address>
                                   <p>+1 333 4040 5566</p>
                                   <p><a href="mailto:contact@company.com">contact@company.com</a></p>
                              </address>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <div class="footer-info newsletter-form">
                              <div class="copyright-text">
                                   <p>Copyright &copy; 2020 Company Name</p>
                                   <p>Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a></p>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </footer>
{% endblock content %}