<!DOCTYPE html>
<html lang="en">
<!--oncontextmenu="return false"-->
<head>

     <title>Hirbate Motors</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">

</head>
<body>
     <nav id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

          <!-- PRE LOADER -->
          <section class="preloader">
               <div class="spinner">
                    <span class="spinner-rotate"></span>
               </div>
          </section>


          <!-- MENU -->
          <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
               <div class="container-fluid" style="margin-left: 100px;">

                    <div class="navbar-header">
                         <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                              <span class="icon icon-bar"></span>
                              <span class="icon icon-bar"></span>
                              <span class="icon icon-bar"></span>
                         </button>

                         <!-- lOGO TEXT HERE -->
                         <a class="navbar-brand" href="{{ url_for ('home') }}"> Hirbate Motors</a>
                    </div>

                    <!-- MENU LINKS -->
                    <div class="collapse navbar-collapse">
                         <ul class="nav navbar-nav navbar-nav-first">
                              {% if current_user.is_authenticated and current_user.is_admin %}
                                   <li><a href="{{ url_for ('sell_car') }}">Sell Car</a></li>
                                   <li><a href="{{ url_for ('lend_car') }}">Lend Car</a></li>
                                   <li><a class="ms-auto" href="{{ url_for ('admin') }}">Admin</a></li>
                              {% else %}
                                   <li><a href="{{url_for('buy_car')}}">Buy Car</a></li>
                                   <li><a href="{{ url_for ('sell_car') }}">Sell Car</a></li>
                                   <li><a href="{{ url_for ('lend_car') }}">Lend Car</a></li>
                                   <li><a href="{{ url_for ('hire_car') }}">Hire Car</a></li>
                                   <li><a href="{{url_for ('about')}}">About Us</a></li>
                                   <li><a href="{{ url_for ('contact_us') }}">Contact Us</a></li>
                              {% endif %}
                              {% if current_user.is_authenticated %}
                                   <li><a class="ms-auto" style="margin-left: 200px;" href="{{ url_for ('logout') }}">Logout</a></li>
                              {% else %}
                                   <li><a class="ms-auto" style="margin-left: 200px;" href="{{ url_for ('register') }}">Register</a></li>
                                   <li><a class="ms-auto" href="{{ url_for ('login') }}">Login</a></li>
                              {% endif %}
                         </ul>
                    </div>
               </div>
          </section>
     </nav>
     <div class="container" style="margin-top: 6rem; text-align: center;">
           {% with messages = get_flashed_messages ( with_categories=true ) %}
             {% if messages %}
                 {% for category, message in messages %}
                     <div class="alert alert-{{ category }}">
                         {{ message }}
                     </div>
                 {% endfor %}
             {% endif %}
           {% endwith %}
     </div>

     {% block content %}
     {% endblock content %}
     <script src="{{ url_for('static', filename='js/jquery.js') }} "></script>
     <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/smoothscroll.js') }}"></script>
     <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>
</html>